<h1>Checkout</h1>
<%#= @order.order_items.size %>
<%= simple_form_for @order do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :country %>
  <%= f.input :address_1, label: "Address" %>
  <%= f.input :address_2, label: "UNIT/APT" %>
  <%= f.input :city %>
  <%= f.input :postal_code %>

  <div id="card-errors">
    <% @order.errors[:stripe_token].each do |message| %>
      <p class="error">
        <%= message %>
      </p>
    <% end %>
  </div>
  <%# <div id="card"></div> %>
  <div class="input">
    <label for="card-number">Card number</label>
    <div id="card-number"></div>
  </div>

  <div class="input">
    <label for="card-number">Card expiry</label>
    <div id="card-expiry"></div>
  </div>

  <div class="input">
    <label for="card-number">Card CVC</label>
    <div id="card-cvc"></div>
  </div>

  <%= f.button :submit, "Submit order" %>

<% end %>

<script>

  /*Adding card style*/
  // adding fonts
  var fonts = [
    {
      cssSrc: "https://fonts.googleapis.com/css?family=Karla"
    }
  ]
  // inputs
  var styles = {
    base: {
      iconColor: "#cccccc",
      color: "#000000",
      fontFamily: "Karla, Helvetica, Arial, sans-serif",
      fontSize: "16px",

      "::placeholder": {
        color: "#cccccc"
      },
      ":-webkit-autofill": {
        color: "#cccccc"
      }
    },
    invalid: {
      iconColor: "#FFC7EE",
      color: "#A31621"
    }
  }
  /*End of card style*/
  var newOrderForm = document.querySelector("form.new_order");
  var stripe = Stripe("<%=Rails.application.credentials[Rails.env.to_sym][:stripe_publishable_key]%>");

  // adding the fonts from the fonts array above
  var elements = stripe.elements({ fonts: fonts });

  // Setting styles from the styles object
  // var card = elements.create("card", { hidePostalCode: true }, { style: style })
  // card.mount('#card')

  var cardNumber = elements.create('cardNumber', { style: styles });
  cardNumber.mount('#card-number');

  var cardExpiry = elements.create('cardExpiry', { style: styles });
  cardExpiry.mount('#card-expiry');

  var cardCvc = elements.create('cardCvc', { style: styles });
  cardCvc.mount('#card-cvc');


  $(newOrderForm).on("submit", function (ev) {
    ev.preventDefault()

    stripe.createToken(cardNumber).then(function (result) {
      if (result.error) {
        $("#card-errors").html(result.error.message)
      } else {
        $(newOrderForm).append("<input type='hidden' name='order[stripe_token]' value="+ result.token.id + "/>")
        $(newOrderForm).get(0).submit()
      }
    })

  })
</script>
