<h2>Cart</h2>
<% if @current_cart.order_items.any? %>
  <table>

    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% @current_cart.order_items.each do |item| %>
          <tr>
            <td>
              <%= image_tag item.product.image_1.thumb.url, width: "50" %>
              <%= item.product.title %>
            </td>
            <td><%= number_to_currency item.product.price_in_dollars %></td>
            <td>
              <%= simple_form_for [item.product, item] do |f| %>
                <%= f.input :quantity, input_html: {min: '0', step: 'any'},label: false %>
                <%= f.button :submit, "Update quantity" %>
              <% end %>
            </td>
            <td><%= link_to "Remove item", product_order_item_path(item.product, item), method: :delete, data: { confirm: "Are you sure?" } %></td>
          </tr>
        <% end %>
      <tr>
        <td>TOTAL: <%= number_to_currency @current_cart.total_price_in_dollars %></td>
      </tr>
    </tbody>

  </table>
  <p>
    <%= link_to "Continue to checkout", new_order_path %>
  </p>
<% else %>
  <p class="empty">
    There are no items in your cart
  </p>
<% end %>
